{
  "attributeSort": "ASC",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "importOrderParserPlugins": [
          "decorators-legacy",
          "typescript"
        ]
      }
    }
  ],
  "plugins": [
    "prettier-plugin-organize-attributes",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}